.button {
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
  margin-top: 5px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 2em;
  font-weight: 900;
  background: rgb(196, 111, 199);
  background: linear-gradient(
    0deg,
    rgba(196, 111, 199, 1) 0%,
    rgba(250, 79, 137, 0.9444152661064426) 100%
  );
}

.button:active {
  box-shadow: inset 4px 4px 4px 2px rgba(69, 16, 16, 0.372);
}
